body{
    margin:auto;
    padding:1px;
    background-color: whitesmoke;
    font-family:'Roboto', Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.header{
    display: grid;
    height: 80px;
    grid-template-columns: 100px, auto;
    justify-items: center;
    grid-template-rows: 5px;
   ;

    background-color: #2C2C54;
    padding: 1.5rem;
    border-radius: 2rem;
}
.profile{
    max-width:80px;
    
    box-shadow: 3px 5px 5px 8px rgba(0,0,0,0.36);
}
h1{color:White;
    grid-column: 2;
    font-size: 30px;

}

nav{
    font-size: 20px;
    letter-spacing: 0.08em;
    border-spacing: 1em;
    line-height: 1.6;
   
}


h2, h3{
    font-size: 30px;
    text-shadow: 4px 3px #9a939383;
}

.main {
    padding: 2rem;

    border-color: aqua;
}

.footer {
    background-color: #2C2C54;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    font-size: .9rem;
}

.footer span {
    text-decoration: underline;
}
#lastModified{
    color:gold;
}
ul{
    border-top: solid rgb(122, 119, 119) 5px;
    border-bottom:solid rgb(122, 119, 119) 5px;
    padding:50px;
}