/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

/*----------- BODY --------------*/



/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/
nav button{
      display: none;
    }
    
header nav { 
      margin-right: 18em;
      top: 1.5em;
    }
header nav ul, header nav ul.hide {
        display: flex;
    }
header nav ul li {  
        margin-left: 50px;
    }
#one {
        right:2em;}
#two {
        right:4em;;
    }

/*----------- MAIN --------------*/

/*----------- FOOTER --------------*/
    

footer h1{
    grid-column: 2;
 
}
.footer1{
    text-align: left;
}

.end{
    display:flex;
    grid-column: 1 /4;
    grid-row: 2;
    justify-content: center;
   
}

} /* end of media query */

