/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/

nav button{
    display: none;
  }
  
  nav {
    position:absolute;
    left: 120px;
    margin: 0px 0px 0px 0px;

}

div.header{
    display: none;
}
header nav ul, header nav ul.hide {
      display: flex;
  }
header nav ul li {  
      margin-left: 20px;
  }
#one {
      right:2em;
}
#two {
      right:4em;  
}
#three{
    right:5.7em; 
}
    
#primaryNav a{
    font-size: 18px;
}
nav ul li.active a {
   text-decoration: underline;
   color: white;
   background-color: #285430;
}

nav ul.open{
    display:flex ;
    background-color: #285430;
    }
/*----------- MAIN --------------*/

main.center {
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 250px;
    grid-template-rows: 50px 1fr auto ;
 
}
.total{
    grid-column:1/3;
    grid-row: 1;
}

.fooo-p{
    grid-column: 1/4;
    grid-row: 2;

}
.rock{
    grid-column: 3;
    grid-row: 3;
}
.coast{
    grid-column: 2;
    grid-row: 3;
}
.latest{
    grid-column: 1;
    grid-row: 3;
}
.weather{
    grid-column: 4;
    grid-row: 2;
}
.forecast{
    grid-column: 4;
    grid-row: 3;
}

.fooo-p, div.weather{
    height: 300px;
    margin: 1px;
}
#temp1{
    font-size:20px;
    position: absolute;
    right: 10px;
    top: 50px;
}
.coast, .latest, .rock, .forecast{
    margin: 1px;
    height: 250px;
}

.latest p, .rock p, .coast p{
    font-size: 12px;
    top: 50%;
    left: 1%;
    transform: translate(0%, 0%)
}  
div#joinus1 { 
    height: 45px;
    top: 30%;
}
.coast h3, .latest h3, .rock h3{
    position:absolute;
    font-size: 20px;
    text-align:center;
    color: rgb(10, 9, 9);
    top: 3%;
    left: 50%;;
}  
.fooo-p h3{
    display: block;
    position: absolute;
    color: white;
    background-color: #285430;
    font-size: 40px;
    top: 15%;
    right: 40%;
    font-family: Raleway, cursive;
}


/* Fresh Page*/


main.fresh {

    width: 95%;
    max-width: 1000px;
    margin: auto;
    
}

.fresh h1{
    text-align: center;
    font-size: 30px;
    border-bottom: #285430 solid 10px;
}
.form-box label{
    display:flex;
    margin: 0px 0px 0px -10px;
    flex-direction:column;
   background-color: white   ;
}
.form-box{
    flex-direction:column ;
}
.form-box button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.form-box label, .form-box1 label{
    background-color: white;
    margin-left: -15px;
}
/* ABOUT us */

main.aboutus{
    margin: 30px;
    display: grid;
    grid-template-rows: 40px 240px 240px 1fr;
    grid-template-columns: 125px 1fr 1fr;
} 
.aboutus h1{
    grid-column: 1/end;
    grid-row: 1;
}
div.ribbom {
    display: block;
    grid-column: 1;
    grid-row: 2/end;
}
div.history{
    margin: 10px;
    grid-column: 2/4;
    grid-row: 2; 
    font-size: 12px;
}
div.history1{
    margin: 10px;
    grid-column: 2/4;
    grid-row: 3; 
    font-size: 12px;
}
#map{
        grid-column: 2/end;
        grid-row: 4; 
    }

.fooo-p1 {
    position:relative;
    height: 420px;
    width: 300px;

  
}
}