/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* {-moz-box-sizing: border-box;/* -webkit-box-sizing: border-box; */box-sizing: border-box;}


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Alexandria, normal;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #285430;
    display:grid ;
    place-items: center normal;
    grid-template-columns: 100px auto 100px;

}
.social img{grid-column: 1;
    position: relative;
    width: 130px;
}

.header {margin-left: 10px;
    grid-column: 2/end;
    grid-row: 1;}

.header h1 {
    margin: 5px;
    color: white;
    font-size: 30px;}

#one {
    top:10px;
    right:5px;
    width: 25px;
    height: 25px;
    position:absolute;
}
#two{
    top:10px;
    right:35px;
    width: 25px;
    height: 25px;
    position:absolute;
}
#three{
    top:6px;
    right:60px;
    width: 30px;
    height: 35px;
    position:absolute;
}
    
    
.header h2 {margin: 5px; font-weight: normal;
            color: white;
            font-size: 18px;
    
        
        }



/*----------- NAVIGATION --------------*/

h1{ margin: 5px;
    color: rgb(0, 0, 0);
    font-size: 25px;
}
h2{ margin: 5px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    
}
nav {
    
    grid-column: 1/6;
   
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}
nav ul.open{
    display: block;
    grid-column: 1/6;

    
    background-color: rgb(65, 63, 63)}
    
nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    
}


nav ul li a:hover {
    background-color: #285430;
    color: rgb(206, 202, 202);
}
nav ul li.active a {
    background-color: rgb(241, 240, 240);
    color: rgb(9, 0, 0);
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}


#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}


/*----------- MAIN --------------*/

main.center {
    margin: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto;
 
}

div.total{
    grid-row: 1;
    grid-column: 1;
    border-bottom: 3px solid;
    text-align: left;
}

.total h3 {margin-bottom: 0px;
}

#currentdate{
    font-size: 20px;
    color: white;
}
.fooo-p, .latest,.coast, .weather, .forecast, .rock {
    text-align: center;
    position: relative;
    height: 220px;
    margin-block: 5px;
    border: 4px;
    border-radius: 1%;
    border-style: solid;
    border-color: rgb(144, 144, 144);

  
}
.forecast h3{
    background-color: rgb(237, 237, 237);
}
.fooo-p img, .coast img, .latest img, .rock img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

div.forecast{
    background-color: rgb(237, 237, 237);
}

div.weather{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:20px 1fr 20px ;
    align-items: center;
    height: 230px;
    text-align: center;
    background-color:#E5D9B6;
    border-style: solid;
    border-color: #aaa;
    padding-bottom: 0%;

}
.weather h2{
    margin-top: 25px;
    color: black;
    grid-column: 1/3;
    text-align: center;
    font-size: 19px;

}
#humidity{
    grid-row: 4;
    grid-column: 2;
    color: black;
    font-size: 16px ;
    font-weight: normal;

}

#temp1{
    color: rgb(0, 0, 0);
    font-size: 20px ;
    grid-column: 2;
    grid-row: 2;

}
#temp2{
   margin: 0px;
    grid-column: 1/3;
    font-size:20px ;
    background-color: lightgrey;
  color: rgb(10, 1, 1);
}
#description{
    font-size: 20px;
  
}
.sunpic{
    align-items: center;
}

.coast h3, .latest h3, .rock h3{
    position:absolute;
    font-size: 20px;
    color: rgb(10, 9, 9);
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}  

.latest p{
        background-color: rgba(170, 170, 170, 0.658);
            position:absolute;
            font-size: 12px;
            color: rgb(7, 7, 7);
            top: 80%;
            left: 1%;
            transform: translate(-1%, -50%);
}  

.coast p{
            background-color: rgba(170, 170, 170, 0.385);
                position:absolute;
                font-size: 12px;
                color: rgb(10, 9, 9);
                top: 60%;
                left: 60%;
                transform: translate(-10%, -50%);
}
.rock p{
    background-color: rgba(170, 170, 170, 0.64);
        position:absolute;
        font-size: 12px;
        color: rgb(10, 9, 9);
        top: 60%;
        left: 35%;
        transform: translate(-50%, -40%);
}



figure.weather{
    grid-row:2;
    width: 300px;
    margin: 0px 0px 0px 50px;
    text-align: center;
}
img#weather_icon{
max-width: 300%;
background-color: rgb(114, 216, 70);
    box-shadow: 10px 10px 5px rgb(2, 2, 2);
    border-radius:25px;
}

div#joinus1 {
    padding: 3px;
    height: 30px;
    width: 100%;
    position: absolute;
    top: 40%;
    align-items: center;
    text-align: center;
    background-color: rgb(38, 153, 219);
    margin-block: 1px;
    border-style: solid;

}

.content-auto {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E5D9B6;
}
.flex-center{
    display: flex;
    justify-content: center;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #285430;
    color: #eee;
    padding: .5rem 2%;
    text-align: center;
}
footer h1,h2 {
    
    margin: 5px;
    color: white;
    font-size: 20px;}
footer h2{
    font-family:'Courier New', Courier, monospace;
    font-size: 19.5px;
}
.end{
    margin: 10px;
    padding: 5px;
    border-top: 5px solid  rgb(160, 158, 158);
    border-width: thin;   
}
a{
    color: white;
}

/* Fresh page CSS rules*/
main.fresh {
    display: block;
    margin: .2rem auto;
    width: 100%;
    max-width: 400px;
     margin: auto ;

}

select, option, input, label{
    padding:0.2rem 1rem;
    font-size: 1.2rem;
    color: inherit;
    background-color: #a8a8ac;
}
.form-box{
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.form-box label{
    display: none;
}
.form-box input,
.form-box select,
.form-box textarea{
    flex-basis: 100%;
    color: black;
   
}
.form-box1 select{
    flex-basis: 150%;
    width: 100%;
    color: black;
    margin: 0px ;
    border: solid 1px black;
}
.form-box1 label{
    background-color: white;
    margin-left: -10px;
}
.form-box textarea{
    border: solid 1px black;
}

#btnSend {
    width: 50%;
    align-self:center;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;

}

