/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/

nav ul.open{
    width: 40rem;
}

#one {
    right:120px;}
#two {
        right:150px;
}

/*----------- MAIN --------------*/

.container{
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 225px;
    
   
    
}
.truck, .codep{
    margin-right: 20px;
     box-shadow: 5px 10px;
}
.join{
    display: block;
    height: 150px;
    width: 100%;
    background-color: #787883;;
    padding: 0px;
    margin-block: 5px;
    border-style: solid;
    border-color: #aaa;
    grid-row: 6;
}

.event{
    grid-row: 7;
    width: 58%;
    grid-column: 1;
}
.weather{
  margin-left: 63%;
    grid-row: 7;
    width: 30%;
    grid-column: 1;
}
p.join {
    font-size: 16px;
    color: #fff;
   text-align: center;
}
div#joi {

    width:100%;
    text-align: center;
    background-color: rgb(38, 153, 219);  
    margin-block: 1px;
    border-style: solid;
    border-color: rgb(238, 229, 229);
    }
 
/*----------- FOOTER --------------*/

footer{
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 1fr 1fr; 
    align-items: center;

}
footer h1{
    grid-column: 2;
 
}
.footer1{
    text-align: left;
}

.end{
    grid-column: 1 /4;
    grid-row: 2;
}
main.discover{
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
}

picture.disc{
    width: 600px;
    height: 400px;
   }

   img.disc{
    border-radius: 15px;
    }
/* end of media query */

/* Discover Page */

#pic1:hover {box-shadow: 0 0 50px #333;}

#pic2:hover, #img2:hover {border-radius: 15px 150px;}

#pic3:hover {filter: contrast(50%);}

#pic4:hover {filter: saturate(60%);}

#pic5:hover {filter: blur(4px);}

#pic6:hover {filter: blur(1px) grayscale(50%);}
} 