/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 14px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #2C2C54;
    display:grid ;
    place-items: center normal;
    grid-template-columns: 100px auto;
}
img{grid-column: 1;
    position: relative;
    width: 130px;
}

.header {margin-left: 30px;}
header h1 {
    margin: 5px;
    color: white;
    font-size: 25px;
    }
header h2 {margin: 0; font-weight: normal;
            color: white;
            font-size: 15px;}
.time{
    grid-column: 1 /3;
    margin: 0.1rem;
	border: 3px solid rgb(100, 85, 85);
	padding: 0.5rem;
	background-color: rgb(165, 159, 159);
    color: black;
    text-align: center;
}

/*----------- NAVIGATION --------------*/

h1{ margin: 5px;
    color: rgb(0, 0, 0);
    font-size: 25px;
}
h2{ margin: 5px;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
nav {
    background-color: rgb(165, 159, 159);
    padding: 8px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}
nav ul.open{display: block;}
nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #aaa;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}


#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}


/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}


/*----------- FOOTER --------------*/
footer {
    background-color: #2C2C54;
    color: #eee;
    padding: .5rem 2%;
    text-align: center;
}
