/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/
    
    
    
    /*----------- HEADER --------------*/
    
    
    
    /*----------- NAVIGATION --------------*/

    /*----------- MAIN --------------*/
    main h1{
        display: none;
    }     
    div {
            display: grid;
            grid-template-columns: repeat(auto-fill,200px);
            grid-gap: 5px;
           
            
    }    
    .cards section{
        grid-auto-columns: auto;
    }    


/*----------- FOOTER --------------*/
.end div{
    align-items: center;
}




}