/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* {-moz-box-sizing: border-box;/* -webkit-box-sizing: border-box; */box-sizing: border-box;}


/*----------- BODY --------------*/
body {
    font-size: 14px;
    font-family: Verdana, sans-serif;
}

header {
    padding: .5rem 2%;
    background-color: #2C2C54;
    display:grid ;
    place-items: center normal;
    grid-template-columns: 100px auto 100px;

}
header img{grid-column: 1;
    position: relative;
    width: 130px;
}

.header {margin-left: 30px;
    grid-column: 2/3;
    grid-row: 1;}

header h1 {
    margin: 5px;
    color: white;
    font-size: 16px;}


/*----------- MAIN --------------*/

main{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1%;
    background-color: #ddddde;

}
.cards section {
    text-align: center;
    margin: 5px 0 0 2%;
    border: #2C2C54 5px solid;
    max-width: 100%;
    background-color: rgb(180, 189, 197) ;

}
.cards img {
    max-width: 40%;
    margin: 0 0 10PX 0;
    box-shadow: 10px 10px 5px  #2C2C54;
}

.cards h2{
    color: rgb(19, 19, 19);
    text-align: center;
    font-size: 20px;
}
.cards p{
    text-align: left;
    margin: 10px;
}
main h1{
    text-align: center;
    
}


/*----------- FOOTER --------------*/
footer {
    background-color: #2C2C54;
    color: #eee;
    padding: .5rem 2%;
    text-align: center;
}
footer h1,h2 {
    
    margin: 5px;
    color: white;
    font-size: 16px;}
footer h2{
    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
}


