@media only screen and (min-width: 1000px){

    header h1{
        text-align: center;
        font-size: 2.8rem;
    }
    img{
        margin: 5px;
        max-width: 5%;  
        height: 5%;
    }
    nav ul {
        display: flex;
    }
    nav ul li { width:100%;}
 
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
    body{        
        font-size: 16px;
}
.one{
    
    grid-column: 1/2;
}
.two{
    grid-column: 2/3;
}
.three{
    grid-column: 3/3;
}
.one,.two,.three{
    padding: 5%;}


}/* end of media query+/