
*{-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; box-sizing: border-box;
    
    }
    
    /* body Rules here*/
    body{
        font-family: Verdana;
        font-size: 16px;
      
    }
    
    /* Header rules Here*/
    header{
        display: flex;
        background-color: #2C2C54;
        align-items: center;
        padding: 1rem 1%;
        color: #eee;
    }
    header h1{
        margin:10px;
        text-align: left;
        font-size: 1.8rem;
    }

    /* Logo image*/
    img{
        margin: 5px;
        max-width: 20%;  
        height: 20%;
    }
    /* navifation rules here*/
    
    nav {
        background-color: #111;}
    
    nav ul{background-color: #111;}
    nav ul {margin:0;padding:0;}
    nav li{list-style-type: none;}
    nav li.active{background-color: #333;}
    
    nav a{
        display:block;
        padding: .8rem.0;
        color: #eee;
        text-align: center;
        text-decoration: none;
    }
    
    nav a:hover{background-color: #444;}

 /* footer rules here */

    footer{
        text-align: center;
        padding: 1rem 2%;
        background-color: #2C2C54;
        color: #eee;
    }
    
    
    /* main rules here */
    
    main{
        padding:1rem 2% ;
        display: block;
        background-color: #eee;
    }
.name,.logo,.porpose{
    border: rgb(163, 136, 162);
    border-style: dashed ;
    margin: 10px;
    background-color: white;
}
 h2{
    text-align: center;
    text-decoration-line: underline;
    color:#4f4f55;
    text-shadow: 1px 1px 5px #2C2C54;
 }
h3{
    font-size:13px;
    margin: 5px;}
    
.chamber-logo{
    display: flex;
    justify-content: center;
    padding: 5px;
}
p{
    margin: 2px;
}

/*targeting page*/
.photos{
    display: flex;
    justify-content: center;
    padding: 5px;}

/*color-scheme*/
.container-table {
    margin-top: 1rem;
}
.primary-background {
    background-color: #2C2C54;
    text-align: center;
}
.secondary-background {
    background-color: #eee;
    text-align: center;
}

.accent1-background {
    background-color: rgb(61, 60, 60);
    text-align: center;
}

.accent2-background {
    background-color: #2C2C54;
    text-align: center;
}
td{
    text-align: center;
}